certifi==2019.9.11
Click==7.0
conda==4.7.12
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
Flask==1.1.1
Jinja2==2.10.3
MarkupSafe==1.1.1
portaudio==19.6.0
py==1.8.0
PyAudio==0.2.11
requests==2.22.0
Werkzeug==0.16.0
