#red {
    border: 20px solid red;
}

#blue {
    border: 20px solid blue;
}

#yellow {
    border: 20px solid yellow;
}

#orange {
    border: 20px solid orange;
}

#green {
    border: 20px solid green;
}

#violet {
    border: 20px solid violet;
}

#black {
    border: 20px solid black;
}

#white {
    border: 20px solid white;
}